:root{
    --primary: #7c23cf;
    --second: #7223cf;
    --primary-btn: #440f81;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:Poppins, sans-serif;
    list-style: none;
  }
  
.container_sidebar{
    position: fixed;
    width: 110vw;
    height: 100vh;
    background-color: var(--primary);
    transform: translate(112%);
    transition: all .4s ease-in-out;
    z-index: 9998;
}

.open{
    transform: translate(0);
}

.content_sidebar{
    padding: 40px 32px;
    display: grid;
    gap: 24px;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(1fr, 2);

}


.content_sidebar .header_sidebar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
}

.content_sidebar .header_sidebar img {
    border-radius: 100%;
    border: 2px solid white;
    height: 200px;
    width: 200px;
}

.content_sidebar .heade_sidebar  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #fff;
    font-weight: 800;
}

.content_sidebar .heade_sidebar  h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.content_sidebar .experience_sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    grid-area: experience;
}

.content_sidebar .experience_sidebar p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

.content_sidebar .experience-time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.content_sidebar .experience-language {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content_sidebar .experience-unit {
    width: 300px;
    height: 30px;
    border-radius: 24px;
    border: 1px solid var(--text-secondary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_sidebar .experience-measure {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-radius: 24px;
    height: 30px;
    background: rgba(133, 0, 250, 0.96);
    background: -webkit-radial-gradient(circle, rgba(133, 0, 250, 0.96) 0%, #b8a9cd 100%);
    background: radial-gradient(circle, rgba(133, 0, 250, 0.96) 0%, #b8a9cd 100%);
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
}

.content_sidebar .experience-measure:nth-child(1){
    width: 100%;
}

.content_sidebar .experience-measure:nth-child(2){
    width: 100%;
}


.content_sidebar .experience-time > .measure-1 {
    width: 100%;
    border: 2px solid blue;
}


.content_sidebar .infos_sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    max-width: 400px;     
}

.content_sidebar .infos h2{
    font-weight: 500;
    color: #000;
}

.languages-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-bottom: 2rem;
}

.languages-info span {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.educational-info{
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.educational-info span{
    font-size: 24px;
    color: #fff;
}

.social {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social ul{
    list-style: none;
    display: flex;
}

.buttons > a {
    margin-top: 2rem;
    height: 50px;
    width: 100%;
    background-color: var(--primary-btn);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 8px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
 
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    color: #dddddd81;
  }
  .example-2 .icon-content a svg:hover {
    color: white;
  }

  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }

@media screen and (max-width: 768px) {
    .container_sidebar{
        display: none;
    }
    .content_sidebar .header{
        flex-direction: column;
        align-items: center;
    }
    .content_sidebar .header img {
        border-radius: 20%;
        border: none;
        height: 300px;
        width: 300px;
    }
    .content_sidebar .header h1 {
        font-size: 36px;
        line-height: 54px;
    }

    .content_sidebar .header h2 {
        font-size: 20px;
        line-height: 45px;
        font-style: normal;
    }
    .content_sidebar .experience{
        align-items: flex-start;
    }

    .content_sidebar .experience p {
        font-size: 20px;
        line-height: 36px;
        text-align: start;
    }
    .content_sidebar .infos{
        align-items: center;
        max-width: 500px;
    }
   
    .content_sidebar .infos span {
        font-size: 20px;
        line-height: 36px;
        text-align: center;
    }
}
    