  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:Poppins, sans-serif;
    list-style: none;
  }
  
  html {
    overflow-x: hidden;
    font-size: 65.5%;
  }

  ::-webkit-scrollbar {
    width: 5px;  
  }
  
::-webkit-scrollbar-track {
    background: #7223cf; 
    border-radius: 20px;     
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

:root{
    --primary: #7c23cf;
    --second: #7223cf;
    --primary-btn: #440f81;
}


.header{
    width: 100vw;
    height: 100vh;
    background-color: var(--second);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header::before{
  content: "";
  position: absolute;
  bottom: -1px; 
  left: 0;
  width: 100%;
  height: 102px;
  background: linear-gradient(to bottom, transparent, transparent 50%, var(--second) 50%, var(--primary));
}

.header span{
  color: #fff;
}




.text-content{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 42px;
    color: #fff;
}

.heading-container{
    position: relative;
}

 .heading-container h1{
    font-size: 100px;
    position: absolute;
    top: 35%;
    left: -1%;
    color: #fff;
}

.heading-container span{
    position: absolute;
    font-size: 16px;
    font-weight: bold;
}

.heading-container span .destaque{
  color: #000;
  font-weight: bold;
}

/*ICONES-heading */

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 8px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
 
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    color: #dddddd81;
  }
  .example-2 .icon-content a svg:hover {
    color: white;
  }

  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }

/*Icones-Header*/
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border-radius: 100%;
    background-color: #ffffff1a;
    position: absolute;
}

.fire{
    right: 20%;
    bottom: 30%;
    transform: rotate(-20deg);
    font-size: 24px;
  }

  .rocket{
    top: 20%;
    right: 100px;
    font-size: 42px;
    overflow: hidden;;
  }

  .rocket span {
    animation: moveRocket 5s infinite alternate; /* Animar apenas uma vez */
  }
  
  @keyframes moveRocket {
    50% {
      transform:rotate(-45deg); /* Move um pouco para cima */
    }
    100%{
      transform:  translateY(-110%) rotate(0);
      
    }
  }

  .target{
    left: 290px;
    top: 30%;
    font-size:72px;
    transform: rotate(30deg);
    animation: balance 1800ms alternate 400ms infinite;
  }

  .shop{
    bottom: 20%;
    left: 20%;
    font-size: 46px;
    transform: rotate(30deg);
    ;
  }

/*chevron*/
.chevron{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: 20px;
    display: block;
    cursor: pointer;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    color: #fff;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
    
    @keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); 
      }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px);
      }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); 
      } 
    }

    
.chevron::before {
    border-style: solid;
    border-width: 0.45em 0.45em 0 0;
    content: '';
    display: inline-block;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 30px; 
  }
  
  .chevron.right:before {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); 
  }
  
  .chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); 
  }
  
  .chevron.left:before {
    left: 0.25em;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg); 
  }


@keyframes balance{
    0%{
      transform: rotate(-15deg);
    }
    100%{
      transform: rotate(60deg);
    }
  }



/*Section-projects*/

.projects{
  background-color: #7c23cf;
  position: relative;
  width: 100vw;
  background-color: #7c23cf;
  text-align: center;
  padding: 0 1rem;
}

.headline{
  margin-bottom: 2rem;
}

.headline > h2{
font-size: 42px;
color: #fff;
}

.headline h3 {
font-size: 2rem;
color: #fff;
}

.headline h3 > a{
color: #000;
}

/*card-context*/
.content-card{

display: flex;
flex-direction: row;
height: auto;
justify-content:space-evenly;
gap: 20px;
padding: 2rem 2rem;
}
/*card*/
.card{
position: relative;  
background-color: #000000ce;
display: flex;
flex-direction: column;
align-items: start;
width: 380px;
max-height: auto;
padding: 2rem 2rem;
border-radius: 14px;

}


/*Image*/
.card-image{
  margin-bottom: .6rem;
  background-color: #fff;
  position: relative;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}


.desktop{
  width: 240px;
}

.mobile{
  position: absolute;
  right:10px;
  top: -30px;
  width: 65px;
}

.card > h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.card > p{
  margin-bottom: 1rem;
  text-align: start;
  font-size: 1.2rem;
  color: #ddddddaf;
  font-weight: 500;
  line-height: 20px;
}

.card > span{
 margin-bottom: 1rem; 
color: #7c23cf;
font-size: 1.6rem;
font-weight: 600;
}

/*Icones:start*/
.heading{
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.heading svg{
  width: 35px;
}
/*Icones:end*/

/*Link:start*/
.card > a{
  position: absolute;
  bottom: 10px;
  background-color:#7c23cf36 ;
  padding: 1rem;
  width: 90%;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.card > a:hover{
  background-color: #7c23cf;
  color: #000000ce;
}
/*Link:end*/
/*Image:end*/

.experience > .container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
}
.experience .content > h2{
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 300;
}

.experience .content > p{
  margin-bottom: 1rem;
  font-weight: 600;
}

.experience .content > p span{
  color: var(--colorFor);
}

/*experience:END*/

.experience {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second);
}

.experience::after{
  content: "";
  position: absolute;
  top: -1px; 
  left: 0;
  width: 100%;
  height: 102px;
  background: linear-gradient(to top, transparent, transparent 50%,var(--second)  50%, var(--primary));
}

.experience .content .circle{
  position: absolute;
  z-index: -1;
  background-color: var(--primary);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #7c23cf48;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.25);
  -webkit-box-shadow: 3px 3px 10px -24.5px #ddd;
  -moz-box-shadow: 3px 3px 10px -24.5px #ddd;
  box-shadow: 3px 3px 10px -24.5px #ddd;
}
.experience .content .circle.top{
  position: absolute;
  color: #474bff;
  left: 95%;
  bottom: 83%;
}

.experience .content .circle.bottom{
  position: absolute;
  color: #474bff;
  left: 95%;
  top: 80%;
}

.experience .content .circle.left{
  position: absolute;
  color: #474bff;
  right: 95%;
  top: 85%;
}

.experience .content .circle.right{
  position: absolute;
  color: #474bff;
  right: 95%;
  bottom: 83%;
}



.experience .content{
  transform: rotate(-10deg);
  background: rgba(255,255,255,0.05);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(255,255,255,0.025);
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
  color: #fff;
  width: 50%;
}

.experience .content > h2{
  font-size: 52px;
  font-weight: 800;
  line-height:5rem;
}

.experience .content > p{
  font-size: 14px;
  font-weight: 400;
}

.experience .content > p span{
  color: var(--primary-btn);
  font-weight: 600;
}


@media (max-width: 468px){

  html{
    overflow-x: hidden;
  } 
  
    /*Header */
    .heading-container{
        align-items: center;
    }
    .heading-container  h1{
        font-size:60px;
    }
    .heading-container span{
        top: -20%;
        font-size: 16px;
    }  

    .heading-container .text-content{
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 24px;
    }

    .text-content h2{
        font-size: 34px;
    }


    .heading-container span{
        position: absolute;
        top: -10%;
        font-size: 12px;
        font-weight: 700;
    }
    .fire{
        display: none;
      }
  
    .rocket{
        display: none;
      }
  
    .target{
        left: 70%;
        top: 30%;
        font-size:42px;
        transform: rotate(30deg);
        animation: balance 1800ms alternate 400ms infinite;
      }
  
    .shop{
        bottom:25%;
        left: 5%;
        font-size: 36px;
        transform: rotate(30deg);
      }

      /*Section-projects*/

      .projects > h3{
        font-size: 16px;
      }

      .content-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .card{
        border: 2px;
        position: relative;  
        background-color: #000000ce;
        display: flex;
        flex: 2 2 200px;
        flex-direction: column;
        align-items: start;
        width: 300px;
        max-height: 530px;
        padding: 2rem 2rem;
        border-radius: 14px;
        
        }

    .heading{
        text-align: start;
        width: 100%;
    
}

    .heading span{
        font-size: 20px;
}
    .image{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 12px;
        margin-bottom: 1rem;
}

    .desktop{
        width: 250px;
}

        .mobile{
        display: none;
}



/*section-experiencia*/

  .experience .content{
    transform: rotate(-10deg);
    background: rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255,255,255,0.025);
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 90%;
  }

  .experience .content > h2{
    font-size: 16px;
    letter-spacing: 0;
  }

  .experience .content .circle.top{
    left: 85%;
    bottom: 88%;
   }
   .experience .content .circle.left{
    right: 90%;
    top: 89%;
   }
  .experience .content .circle.bottom{
   display: none;
  }
  
  .experience .content .circle.right{
   display: none;
  }
}
